<!doctype html>
<html class="no-js" lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bedtime note box</title>
    <link rel="stylesheet" href="/static/css/stories.css">
  </head>
  <body>
    <div id="app">
      <div id="top">
        <button class="button" v-on:click="loadRandomNote()">memorandom</button>
        <button id="snapshot" class="button" :data-copy-text="'http://memoreads.koizo.org/?snapshot=' + snapshotString">get snapshot link</button>
      </div>
      <nav id="note-list">
        <div class="note-item" v-for="note in notes">

          <a
             :id="note.name"
             v-bind:class="{ 'note-button': true, 'active': (activeNoteNames.includes(note.name)) }"
             :data-path="note.name"
             :data-size="note.size"
             >
            <span>${ note.name }</span>
          </a>
        </div>
      </nav><!-- /#note-list -->

      <section id="note-view" v-if="activeNotes">
        <div class="note" v-for="note in activeNotes" v-bind:class="{ 'public-chat': note.chat }">
          <header>
            <h1><span>${ note.title }</span> <button v-on:click="closeNote(note.name)">X</button></h1>
            <ul>
              <li>${ note.date }</li>
            </ul>
          </header>
          <div class="note-contents" v-html="note.contents"> </div>
        </div>
      </section>

    </div><!-- /#app -->

    <script src="/static/js/vendor/axios-0.20.0.min.js"></script>
    <script src="/static/js/vendor/vue-2.6.12.js"></script>
    <script src="/static/js/vendor/vue-cookies-1.7.4.js"></script>
    <script src="/static/js/vendor/clipboard.min.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/main.js"></script>

  </body>
</html>
