/* colorzitas surpresa

#2169db
#fffbde
#5e5e5e

*/

* {
  box-sizing: border-box;
}

::-moz-focus-inner { /* does this work? */
  border: 0  !important;
}

:focus {
    outline: 0 !important;
}

@font-face {
  font-family: 'Vollkorn';
  font-weight: 400;
  font-style: normal;
  src: local('Vollkorn Regular'), url('../fonts/Vollkorn-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Vollkorn';
  font-weight: 700;
  font-style: normal;
  src: local('Vollkorn Bold'), url('../fonts/Vollkorn-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Vollkorn';
  font-weight: 400;
  font-style: italic;
  src: local('Vollkorn Italic'), url('../fonts/Vollkorn-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Vollkorn';
  font-weight: 700;
  font-style: italic;
  src: local('Vollkorn Bold Italic'), url('../fonts/Vollkorn-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Archivo Narrow';
  font-weight: 400;
  font-style: normal;
  src: local('Archivo Narrow Regular'), url('../fonts/ArchivoNarrow-Regular.woff2') format('woff2');
}


@font-face {
  font-family: 'Archivo Narrow';
  font-weight: 700;
  font-style: normal;
  src: local('Archivo Narrow Bold'), url('../fonts/ArchivoNarrow-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inconsolata';
  font-weight: 400;
  font-style: normal;
  src: local('Inconsolata Regular'), url('../fonts/Inconsolata-Regular.ttf') format('truetype');
}

:root {
  --serif-text: 'Vollkorn', Times, serif;
  --sans-text: 'Archivo Narrow', Arial, sans-serif;
  --monospace-text: 'Inconsolata', monospace;
}

body {
  color: #313131;
  font-size: 100%;
  font-family: var(--serif-text);
  line-height: 1.1;
  margin: 0;
}

a {
  color: #2169db;
}

hr {
  height: 0;
  margin: 32px auto;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #606060;
  border-left: 0;
  max-width: 80%;
}

h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

h1,
h2,
h3,
h4,
h5,
h6,
p { margin: 0; }

h1:not(:first-child) {
  margin: 24px 0 12px;
}

h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child),
p:not(:first-child),
ul:not(:first-child) {
  margin: 16px 0 8px;
}

pre, code {
  font-size: 15px;
  line-height: 1;
  font-family: var(--monospace-text);
}

button,
.button {
  color: #fff;
  font-size: 15px;
  line-height: 1;
  font-family: var(--sans-text);
  text-shadow: 0 0 0 transparent;
  border-radius: 2px;
  margin: 0;
  border: 0;
  background-color: #313131;
  padding: 8px 10px;
  cursor: pointer;
}

button:hover,
.button:hover,
button:active,
.button:active {
  background-color: #606060;
}

#app {
  display: grid;
  grid-gap: 10px 20px;
  grid-template-columns: auto 1fr;
  padding: 10px;
}

#top {
  grid-column: 1 / span 2;
}

#note-list {
  display: block;
}

#note-list .days h5 {
  white-space: nowrap;
}

.note-item {
  display: block;
}

#note-view {
  display: flex;
  align-items: flex-start;
  height: 95vh;
}

.note {
  flex: none;
  flex-wrap: nowrap;
  min-width: min-content;
  max-width: 800px;
  max-height: 100%;
  overflow: auto;
  position: relative;
}

.note:not(:empty) {
  margin: 0;
  border: 1px dotted #313131;
  padding: 20px;
}

.note:not(:first-child) {
  margin-left: 16px;
}

.note.public-chat .note-contents {
  font-size: 15px;
  font-family: var(--monospace-text);
  line-height: 1;
}

.note.public-chat em {
  font-style: normal;
  opacity: 0.7;
}

.note.public-chat p,
.note.public-chat li {
  margin: 0;
}

.note header {
  background-color: #fff;
  border: 1px solid #606060;
  line-height: 1;
  margin-bottom: 24px;
  font-family: var(--sans-text);
  position: sticky;
  top: 20px;
  z-index: 300;
}

.note header > *:empty { display: none; }

.note header h1 {
  font-size: 20px;
  border-bottom: 1px solid #606060;
  display: flex;
  align-content: baseline;
  align-items: stretch;
  justify-content: space-between;
}

.note header h1 span {
  padding: 10px;
}

.note header button {
  color: #606060;
  font-size: 18px;
  margin-left: 16px;
  margin-right: 0;
  padding: 10px;
  border-left: 1px solid #606060;
  background-color: transparent;
  border-radius: 0;
}

.note header ul {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 80%;
  font-variant: lining-nums;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.note header li {
  list-style-type: none;
  padding: 10px;
}

.note header li:not(:first-child) {
  border-left: 1px solid #606060;
}

.note header li.url {}

.note header li h2 {
  font-size: inherit;
}

.note .note-contents {
  padding: 20px 0;
}

.note blockquote {
  font-size: 22px;
  border-left: 5px solid #2169db;
  margin-left: 0;
  padding-left: 20px;
}

.note img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 450px;
}
